<?php

return [
	'defaultSiteURL' => 'www.restalutions.local',
    'adminEmail' => 'admin@example.com',
    'salt' => '$2a$10$Q7qlnTFPwKq4D6csshB3n5',
    'stripe_publishable_key' => 'pk_test_uo9IL1KuKzwNr7PvMdBYIYJh',
    'stripe_secret_key' => 'sk_test_OvqUcK0wwCZqDJ0HzQVcaK9q',
	'smtp_host' => 'mail.server.com',
	'smtp_username' => 'username',
	'smtp_password' => 'password',
	'recaptcha_site_key' => '',
	//test account, please use real account to avoid errors
    'twilio.sid' => 'AC05922bc54d4825ba1505fae388f34e83',
    'twilio.token' => '63e1ea12b6de713c4568957243b59943',
    'twilio.phone' => '15304773451',
	'redis_host' => 'localhost',
    'redis_port' => 6379,
    'nodejs_host' => 'localhost',
    'nodejs_port' => 3000,
    'authorize.net.mode' => 'test',    
    'authorize.net.login.id' => '96tk7ZP2WY',
    'authorize.net.transaction.key' => '47rK9rY22G9Mu2Ev',
    'authorize.net.public.key' => '7UnT3eU7tKRYAGCzTbdE9w5K2rAfS37SyW5Mtc2h4MuSac623jD4J9wDf598ezd7'
];
